/*------------------------------------*\
  Custom > gitHub Pages
\*------------------------------------*/

// Header 검색 아이콘
.c-search__btn {
    float: right;
    position: relative;
    top: 4px;
    height: 24px;
    margin-right: 15px;
    padding: 0 5px;

    svg {
        width: 24px;
        height: 24px;
        vertical-align: top;
    }
}

// 검색 결과
#search-container {
    width: 100%;

    #results-container {
        margin: 15px 0 0 0;
        padding: 0;
        text-align: center;
        list-style: none;
        font-weight: 700;

        li {
            padding: 5px 0;
            border-bottom: 1px solid $color-border;
            text-align: left;

            + li {
                margin-top: 10px;
            }
        }
    }
}

// 네비게이션 메뉴 리스트
.o-plain-list {
    margin-top: 20px;

    .c-nav__item {
        margin-top: 10px;
        border-bottom: 1px solid $color-border;
    }
}
