/*------------------------------------*\
  Custom > gitHub Pages
\*------------------------------------*/

// Header 검색 아이콘
.c-search__btn {
    float: right;
    position: relative;
    top: 4px;
    height: 24px;
    margin-right: 10px;
    padding: 0 5px;

    svg {
        width: 24px;
        height: 24px;
        vertical-align: top;
    }
}