<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--1-4-s'>
            <a href="/search/" title="Search">
                <svg viewBox="0 0 30 30" width="30" height="30" fill="#000000">
                    <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/>
                  </svg>
            </a>
            <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
              <span class='c-off-canvas-toggle__icon'></span>
            </label>
          </div>

          <div class='o-grid__col o-grid__col--1-4-s'>
            <div class='c-off-canvas-content'>
              <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
                <span class='c-off-canvas-toggle__icon'></span>
              </label>

              <ul class='c-nav o-plain-list '>
                {% include navigation.html %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>